.bannerlinerpau{
 filter:alpha(opacity=46.41349464779863); ZOOM: 1;}
.bannerline{
 filter:alpha(opacity=46.41349464779863); ZOOM: 1;}
.bannerlinerglider{
 filter:alpha(opacity=46.41349464779863); ZOOM: 1;}
.bannerlinergliderhori{
 filter:alpha(opacity=46.41349464779863); ZOOM: 1;}